{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "useJSXTextNode": true
  },
  "globals": {
    "DEBUG": true
  },
  "plugins": [
    "typescript"
  ],
  "rules": {
    "no-multi-spaces": 0,
    "yoda": 0,
    "jsx-quotes": 0,
    "semi": ["error", "never", {"beforeStatementContinuationChars": "never"}],
    "semi-spacing": ["error", {"after": true, "before": false}],
    "semi-style": ["error", "first"],
    "no-extra-semi": "error",
    "no-unexpected-multiline": "error",
    "no-unreachable": "error"
  }
}
