@import './_Variables.scss';

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  color: $color_text;
  font-family: system-ui, sans-serif;
}

:global {
  .app {
    width: 100%;
    height: 100%;
    background-color: $color_white;
  }

  .main {
    text-align: center;
  }
}

@font-face {
  font-family: 'icon';
  src: url('fonts/icon.eot?wb6ufj');
  src: url('fonts/icon.eot?wb6ufj#iefix') format('embedded-opentype'),
    url('fonts/icon.ttf?wb6ufj') format('truetype'),
    url('fonts/icon.woff?wb6ufj') format('woff'),
    url('fonts/icon.svg?wb6ufj#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^='icon_'],
[class*=' icon_'] {
  font-family: 'icon' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  // Better Font Rendering
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:global {
  .icon_add_to_list:before {
    content: '\e900';
  }
  .icon_classic_computer:before {
    content: '\e901';
  }
  .icon_controller_fast_backward:before {
    content: '\e902';
  }
  .icon_creative_commons_attribution:before {
    content: '\e903';
  }
  .icon_creative_commons_noderivs:before {
    content: '\e904';
  }
  .icon_creative_commons_noncommercial_eu:before {
    content: '\e905';
  }
  .icon_creative_commons_noncommercial_us:before {
    content: '\e906';
  }
  .icon_creative_commons_public_domain:before {
    content: '\e907';
  }
  .icon_creative_commons_remix:before {
    content: '\e908';
  }
  .icon_creative_commons_share:before {
    content: '\e909';
  }
  .icon_creative_commons_sharealike:before {
    content: '\e90a';
  }
  .icon_creative_commons:before {
    content: '\e90b';
  }
  .icon_document_landscape:before {
    content: '\e90c';
  }
  .icon_remove_user:before {
    content: '\e90d';
  }
  .icon_warning:before {
    content: '\e90e';
  }
  .icon_arrow_bold_down:before {
    content: '\e90f';
  }
  .icon_arrow_bold_left:before {
    content: '\e910';
  }
  .icon_arrow_bold_right:before {
    content: '\e911';
  }
  .icon_arrow_bold_up:before {
    content: '\e912';
  }
  .icon_arrow_down:before {
    content: '\e913';
  }
  .icon_arrow_left:before {
    content: '\e914';
  }
  .icon_arrow_long_down:before {
    content: '\e915';
  }
  .icon_arrow_long_left:before {
    content: '\e916';
  }
  .icon_arrow_long_right:before {
    content: '\e917';
  }
  .icon_arrow_long_up:before {
    content: '\e918';
  }
  .icon_arrow_right:before {
    content: '\e919';
  }
  .icon_arrow_up:before {
    content: '\e91a';
  }
  .icon_arrow_with_circle_down:before {
    content: '\e91b';
  }
  .icon_arrow_with_circle_left:before {
    content: '\e91c';
  }
  .icon_arrow_with_circle_right:before {
    content: '\e91d';
  }
  .icon_arrow_with_circle_up:before {
    content: '\e91e';
  }
  .icon_bookmark:before {
    content: '\e91f';
  }
  .icon_bookmarks:before {
    content: '\e920';
  }
  .icon_chevron_down:before {
    content: '\e921';
  }
  .icon_chevron_left:before {
    content: '\e922';
  }
  .icon_chevron_right:before {
    content: '\e923';
  }
  .icon_chevron_small_down:before {
    content: '\e924';
  }
  .icon_chevron_small_left:before {
    content: '\e925';
  }
  .icon_chevron_small_right:before {
    content: '\e926';
  }
  .icon_chevron_small_up:before {
    content: '\e927';
  }
  .icon_chevron_thin_down:before {
    content: '\e928';
  }
  .icon_chevron_thin_left:before {
    content: '\e929';
  }
  .icon_chevron_thin_right:before {
    content: '\e92a';
  }
  .icon_chevron_thin_up:before {
    content: '\e92b';
  }
  .icon_chevron_up:before {
    content: '\e92c';
  }
  .icon_chevron_with_circle_down:before {
    content: '\e92d';
  }
  .icon_chevron_with_circle_left:before {
    content: '\e92e';
  }
  .icon_chevron_with_circle_right:before {
    content: '\e92f';
  }
  .icon_chevron_with_circle_up:before {
    content: '\e930';
  }
  .icon_cloud:before {
    content: '\e931';
  }
  .icon_controller_fast_forward:before {
    content: '\e932';
  }
  .icon_controller_jump_to_start:before {
    content: '\e933';
  }
  .icon_controller_next:before {
    content: '\e934';
  }
  .icon_controller_paus:before {
    content: '\e935';
  }
  .icon_controller_play:before {
    content: '\e936';
  }
  .icon_controller_record:before {
    content: '\e937';
  }
  .icon_controller_stop:before {
    content: '\e938';
  }
  .icon_controller_volume:before {
    content: '\e939';
  }
  .icon_dot_single:before {
    content: '\e93a';
  }
  .icon_dots_three_horizontal:before {
    content: '\e93b';
  }
  .icon_dots_three_vertical:before {
    content: '\e93c';
  }
  .icon_dots_two_horizontal:before {
    content: '\e93d';
  }
  .icon_dots_two_vertical:before {
    content: '\e93e';
  }
  .icon_download:before {
    content: '\e93f';
  }
  .icon_emoji_flirt:before {
    content: '\e940';
  }
  .icon_flow_branch:before {
    content: '\e941';
  }
  .icon_flow_cascade:before {
    content: '\e942';
  }
  .icon_flow_line:before {
    content: '\e943';
  }
  .icon_flow_parallel:before {
    content: '\e944';
  }
  .icon_flow_tree:before {
    content: '\e945';
  }
  .icon_install:before {
    content: '\e946';
  }
  .icon_layers:before {
    content: '\e947';
  }
  .icon_open_book:before {
    content: '\e948';
  }
  .icon_resize_100:before {
    content: '\e949';
  }
  .icon_resize_full_screen:before {
    content: '\e94a';
  }
  .icon_save:before {
    content: '\e94b';
  }
  .icon_select_arrows:before {
    content: '\e94c';
  }
  .icon_sound_mute:before {
    content: '\e94d';
  }
  .icon_sound:before {
    content: '\e94e';
  }
  .icon_trash:before {
    content: '\e94f';
  }
  .icon_triangle_down:before {
    content: '\e950';
  }
  .icon_triangle_left:before {
    content: '\e951';
  }
  .icon_triangle_right:before {
    content: '\e952';
  }
  .icon_triangle_up:before {
    content: '\e953';
  }
  .icon_uninstall:before {
    content: '\e954';
  }
  .icon_upload_to_cloud:before {
    content: '\e955';
  }
  .icon_upload:before {
    content: '\e956';
  }
  .icon_add_user:before {
    content: '\e957';
  }
  .icon_address:before {
    content: '\e958';
  }
  .icon_adjust:before {
    content: '\e959';
  }
  .icon_air:before {
    content: '\e95a';
  }
  .icon_aircraft_landing:before {
    content: '\e95b';
  }
  .icon_aircraft_take_off:before {
    content: '\e95c';
  }
  .icon_aircraft:before {
    content: '\e95d';
  }
  .icon_align_bottom:before {
    content: '\e95e';
  }
  .icon_align_horizontal_middle:before {
    content: '\e95f';
  }
  .icon_align_left:before {
    content: '\e960';
  }
  .icon_align_right:before {
    content: '\e961';
  }
  .icon_align_top:before {
    content: '\e962';
  }
  .icon_align_vertical_middle:before {
    content: '\e963';
  }
  .icon_archive:before {
    content: '\e964';
  }
  .icon_area_graph:before {
    content: '\e965';
  }
  .icon_attachment:before {
    content: '\e966';
  }
  .icon_awareness_ribbon:before {
    content: '\e967';
  }
  .icon_back_in_time:before {
    content: '\e968';
  }
  .icon_back:before {
    content: '\e969';
  }
  .icon_bar_graph:before {
    content: '\e96a';
  }
  .icon_battery:before {
    content: '\e96b';
  }
  .icon_beamed_note:before {
    content: '\e96c';
  }
  .icon_bell:before {
    content: '\e96d';
  }
  .icon_blackboard:before {
    content: '\e96e';
  }
  .icon_block:before {
    content: '\e96f';
  }
  .icon_book:before {
    content: '\e970';
  }
  .icon_bowl:before {
    content: '\e971';
  }
  .icon_box:before {
    content: '\e972';
  }
  .icon_briefcase:before {
    content: '\e973';
  }
  .icon_browser:before {
    content: '\e974';
  }
  .icon_brush:before {
    content: '\e975';
  }
  .icon_bucket:before {
    content: '\e976';
  }
  .icon_cake:before {
    content: '\e977';
  }
  .icon_calculator:before {
    content: '\e978';
  }
  .icon_calendar:before {
    content: '\e979';
  }
  .icon_camera:before {
    content: '\e97a';
  }
  .icon_ccw:before {
    content: '\e97b';
  }
  .icon_chat:before {
    content: '\e97c';
  }
  .icon_check:before {
    content: '\e97d';
  }
  .icon_circle_with_cross:before {
    content: '\e97e';
  }
  .icon_circle_with_minus:before {
    content: '\e97f';
  }
  .icon_circle_with_plus:before {
    content: '\e980';
  }
  .icon_circle:before {
    content: '\e981';
  }
  .icon_circular_graph:before {
    content: '\e982';
  }
  .icon_clapperboard:before {
    content: '\e983';
  }
  .icon_clipboard:before {
    content: '\e984';
  }
  .icon_clock:before {
    content: '\e985';
  }
  .icon_code:before {
    content: '\e986';
  }
  .icon_cog:before {
    content: '\e987';
  }
  .icon_colours:before {
    content: '\e988';
  }
  .icon_compass:before {
    content: '\e989';
  }
  .icon_copy:before {
    content: '\e98a';
  }
  .icon_credit_card:before {
    content: '\e98b';
  }
  .icon_credit:before {
    content: '\e98c';
  }
  .icon_cross:before {
    content: '\e98d';
  }
  .icon_cup:before {
    content: '\e98e';
  }
  .icon_cw:before {
    content: '\e98f';
  }
  .icon_cycle:before {
    content: '\e990';
  }
  .icon_database:before {
    content: '\e991';
  }
  .icon_dial_pad:before {
    content: '\e992';
  }
  .icon_direction:before {
    content: '\e993';
  }
  .icon_document:before {
    content: '\e994';
  }
  .icon_documents:before {
    content: '\e995';
  }
  .icon_drink:before {
    content: '\e996';
  }
  .icon_drive:before {
    content: '\e997';
  }
  .icon_drop:before {
    content: '\e998';
  }
  .icon_edit:before {
    content: '\e999';
  }
  .icon_email:before {
    content: '\e99a';
  }
  .icon_emoji_happy:before {
    content: '\e99b';
  }
  .icon_emoji_neutral:before {
    content: '\e99c';
  }
  .icon_emoji_sad:before {
    content: '\e99d';
  }
  .icon_erase:before {
    content: '\e99e';
  }
  .icon_eraser:before {
    content: '\e99f';
  }
  .icon_export:before {
    content: '\e9a0';
  }
  .icon_eye:before {
    content: '\e9a1';
  }
  .icon_feather:before {
    content: '\e9a2';
  }
  .icon_flag:before {
    content: '\e9a3';
  }
  .icon_flash:before {
    content: '\e9a4';
  }
  .icon_flashlight:before {
    content: '\e9a5';
  }
  .icon_flat_brush:before {
    content: '\e9a6';
  }
  .icon_folder_images:before {
    content: '\e9a7';
  }
  .icon_folder_music:before {
    content: '\e9a8';
  }
  .icon_folder_video:before {
    content: '\e9a9';
  }
  .icon_folder:before {
    content: '\e9aa';
    color: $color_blue;
  }
  .icon_forward:before {
    content: '\e9ab';
  }
  .icon_funnel:before {
    content: '\e9ac';
  }
  .icon_game_controller:before {
    content: '\e9ad';
  }
  .icon_gauge:before {
    content: '\e9ae';
  }
  .icon_globe:before {
    content: '\e9af';
  }
  .icon_graduation_cap:before {
    content: '\e9b0';
  }
  .icon_grid:before {
    content: '\e9b1';
  }
  .icon_hair_cross:before {
    content: '\e9b2';
  }
  .icon_hand:before {
    content: '\e9b3';
  }
  .icon_heart_outlined:before {
    content: '\e9b4';
  }
  .icon_heart:before {
    content: '\e9b5';
  }
  .icon_help_with_circle:before {
    content: '\e9b6';
  }
  .icon_help:before {
    content: '\e9b7';
  }
  .icon_home:before {
    content: '\e9b8';
  }
  .icon_hour_glass:before {
    content: '\e9b9';
  }
  .icon_image_inverted:before {
    content: '\e9ba';
  }
  .icon_image:before {
    content: '\e9bb';
    color: $color_red;
  }
  .icon_images:before {
    content: '\e9bc';
  }
  .icon_inbox:before {
    content: '\e9bd';
  }
  .icon_infinity:before {
    content: '\e9be';
  }
  .icon_info_with_circle:before {
    content: '\e9bf';
  }
  .icon_info:before {
    content: '\e9c0';
  }
  .icon_key:before {
    content: '\e9c1';
  }
  .icon_keyboard:before {
    content: '\e9c2';
  }
  .icon_lab_flask:before {
    content: '\e9c3';
  }
  .icon_landline:before {
    content: '\e9c4';
  }
  .icon_language:before {
    content: '\e9c5';
  }
  .icon_laptop:before {
    content: '\e9c6';
  }
  .icon_leaf:before {
    content: '\e9c7';
  }
  .icon_level_down:before {
    content: '\e9c8';
  }
  .icon_level_up:before {
    content: '\e9c9';
  }
  .icon_lifebuoy:before {
    content: '\e9ca';
  }
  .icon_light_bulb:before {
    content: '\e9cb';
  }
  .icon_light_down:before {
    content: '\e9cc';
  }
  .icon_light_up:before {
    content: '\e9cd';
  }
  .icon_line_graph:before {
    content: '\e9ce';
  }
  .icon_link:before {
    content: '\e9cf';
  }
  .icon_list:before {
    content: '\e9d0';
  }
  .icon_location_pin:before {
    content: '\e9d1';
  }
  .icon_location:before {
    content: '\e9d2';
  }
  .icon_lock_open:before {
    content: '\e9d3';
  }
  .icon_lock:before {
    content: '\e9d4';
  }
  .icon_log_out:before {
    content: '\e9d5';
  }
  .icon_login:before {
    content: '\e9d6';
  }
  .icon_loop:before {
    content: '\e9d7';
  }
  .icon_magnet:before {
    content: '\e9d8';
  }
  .icon_magnifying_glass:before {
    content: '\e9d9';
  }
  .icon_mail:before {
    content: '\e9da';
  }
  .icon_man:before {
    content: '\e9db';
  }
  .icon_map:before {
    content: '\e9dc';
  }
  .icon_mask:before {
    content: '\e9dd';
  }
  .icon_medal:before {
    content: '\e9de';
  }
  .icon_megaphone:before {
    content: '\e9df';
  }
  .icon_menu:before {
    content: '\e9e0';
  }
  .icon_message:before {
    content: '\e9e1';
  }
  .icon_mic:before {
    content: '\e9e2';
  }
  .icon_minus:before {
    content: '\e9e3';
  }
  .icon_mobile:before {
    content: '\e9e4';
  }
  .icon_modern_mic:before {
    content: '\e9e5';
  }
  .icon_moon:before {
    content: '\e9e6';
  }
  .icon_mouse:before {
    content: '\e9e7';
  }
  .icon_music:before {
    content: '\e9e8';
    color: $color_orange;
  }
  .icon_network:before {
    content: '\e9e9';
  }
  .icon_new_message:before {
    content: '\e9ea';
  }
  .icon_new:before {
    content: '\e9eb';
  }
  .icon_news:before {
    content: '\e9ec';
  }
  .icon_note:before {
    content: '\e9ed';
  }
  .icon_notification:before {
    content: '\e9ee';
  }
  .icon_old_mobile:before {
    content: '\e9ef';
  }
  .icon_old_phone:before {
    content: '\e9f0';
  }
  .icon_palette:before {
    content: '\e9f1';
  }
  .icon_paper_plane:before {
    content: '\e9f2';
  }
  .icon_pencil:before {
    content: '\e9f3';
  }
  .icon_phone:before {
    content: '\e9f4';
  }
  .icon_pie_chart:before {
    content: '\e9f5';
  }
  .icon_pin:before {
    content: '\e9f6';
  }
  .icon_plus:before {
    content: '\e9f7';
  }
  .icon_popup:before {
    content: '\e9f8';
  }
  .icon_power_plug:before {
    content: '\e9f9';
  }
  .icon_price_ribbon:before {
    content: '\e9fa';
  }
  .icon_price_tag:before {
    content: '\e9fb';
  }
  .icon_print:before {
    content: '\e9fc';
  }
  .icon_progress_empty:before {
    content: '\e9fd';
  }
  .icon_progress_full:before {
    content: '\e9fe';
  }
  .icon_progress_one:before {
    content: '\e9ff';
  }
  .icon_progress_two:before {
    content: '\ea00';
  }
  .icon_publish:before {
    content: '\ea01';
  }
  .icon_quote:before {
    content: '\ea02';
  }
  .icon_radio:before {
    content: '\ea03';
  }
  .icon_reply_all:before {
    content: '\ea04';
  }
  .icon_reply:before {
    content: '\ea05';
  }
  .icon_retweet:before {
    content: '\ea06';
  }
  .icon_rocket:before {
    content: '\ea07';
  }
  .icon_round_brush:before {
    content: '\ea08';
  }
  .icon_rss:before {
    content: '\ea09';
  }
  .icon_ruler:before {
    content: '\ea0a';
  }
  .icon_scissors:before {
    content: '\ea0b';
  }
  .icon_share_alternitive:before {
    content: '\ea0c';
  }
  .icon_share:before {
    content: '\ea0d';
  }
  .icon_shareable:before {
    content: '\ea0e';
  }
  .icon_shield:before {
    content: '\ea0f';
  }
  .icon_shop:before {
    content: '\ea10';
  }
  .icon_shopping_bag:before {
    content: '\ea11';
  }
  .icon_shopping_basket:before {
    content: '\ea12';
  }
  .icon_shopping_cart:before {
    content: '\ea13';
  }
  .icon_shuffle:before {
    content: '\ea14';
  }
  .icon_signal:before {
    content: '\ea15';
  }
  .icon_sound_mix:before {
    content: '\ea16';
  }
  .icon_sports_club:before {
    content: '\ea17';
  }
  .icon_spreadsheet:before {
    content: '\ea18';
  }
  .icon_squared_cross:before {
    content: '\ea19';
  }
  .icon_squared_minus:before {
    content: '\ea1a';
  }
  .icon_squared_plus:before {
    content: '\ea1b';
  }
  .icon_star_outlined:before {
    content: '\ea1c';
  }
  .icon_star:before {
    content: '\ea1d';
  }
  .icon_stopwatch:before {
    content: '\ea1e';
  }
  .icon_suitcase:before {
    content: '\ea1f';
  }
  .icon_swap:before {
    content: '\ea20';
  }
  .icon_sweden:before {
    content: '\ea21';
  }
  .icon_switch:before {
    content: '\ea22';
  }
  .icon_tablet:before {
    content: '\ea23';
  }
  .icon_tag:before {
    content: '\ea24';
  }
  .icon_text_document_inverted:before {
    content: '\ea25';
  }
  .icon_text_document:before {
    content: '\ea26';
    color: $color_green;
  }
  .icon_text:before {
    content: '\ea27';
  }
  .icon_thermometer:before {
    content: '\ea28';
  }
  .icon_thumbs_down:before {
    content: '\ea29';
  }
  .icon_thumbs_up:before {
    content: '\ea2a';
  }
  .icon_thunder_cloud:before {
    content: '\ea2b';
  }
  .icon_ticket:before {
    content: '\ea2c';
  }
  .icon_time_slot:before {
    content: '\ea2d';
  }
  .icon_tools:before {
    content: '\ea2e';
  }
  .icon_traffic_cone:before {
    content: '\ea2f';
  }
  .icon_tree:before {
    content: '\ea30';
  }
  .icon_trophy:before {
    content: '\ea31';
  }
  .icon_tv:before {
    content: '\ea32';
  }
  .icon_typing:before {
    content: '\ea33';
  }
  .icon_unread:before {
    content: '\ea34';
  }
  .icon_untag:before {
    content: '\ea35';
  }
  .icon_user:before {
    content: '\ea36';
  }
  .icon_users:before {
    content: '\ea37';
  }
  .icon_v_card:before {
    content: '\ea38';
  }
  .icon_video:before {
    content: '\ea39';
    color: $color_purple;
  }
  .icon_vinyl:before {
    content: '\ea3a';
  }
  .icon_voicemail:before {
    content: '\ea3b';
  }
  .icon_wallet:before {
    content: '\ea3c';
  }
  .icon_water:before {
    content: '\ea3d';
  }
  .icon_500px_with_circle:before {
    content: '\ea3e';
  }
  .icon_500px:before {
    content: '\ea3f';
  }
  .icon_basecamp:before {
    content: '\ea40';
  }
  .icon_behance:before {
    content: '\ea41';
  }
  .icon_creative_cloud:before {
    content: '\ea42';
  }
  .icon_dropbox:before {
    content: '\ea43';
  }
  .icon_evernote:before {
    content: '\ea44';
  }
  .icon_flattr:before {
    content: '\ea45';
  }
  .icon_foursquare:before {
    content: '\ea46';
  }
  .icon_google_drive:before {
    content: '\ea47';
  }
  .icon_google_hangouts:before {
    content: '\ea48';
  }
  .icon_grooveshark:before {
    content: '\ea49';
  }
  .icon_icloud:before {
    content: '\ea4a';
  }
  .icon_mixi:before {
    content: '\ea4b';
  }
  .icon_onedrive:before {
    content: '\ea4c';
  }
  .icon_paypal:before {
    content: '\ea4d';
  }
  .icon_picasa:before {
    content: '\ea4e';
  }
  .icon_qq:before {
    content: '\ea4f';
  }
  .icon_rdio_with_circle:before {
    content: '\ea50';
  }
  .icon_renren:before {
    content: '\ea51';
  }
  .icon_scribd:before {
    content: '\ea52';
  }
  .icon_sina_weibo:before {
    content: '\ea53';
  }
  .icon_skype_with_circle:before {
    content: '\ea54';
  }
  .icon_skype:before {
    content: '\ea55';
  }
  .icon_slideshare:before {
    content: '\ea56';
  }
  .icon_smashing:before {
    content: '\ea57';
  }
  .icon_soundcloud:before {
    content: '\ea58';
  }
  .icon_spotify_with_circle:before {
    content: '\ea59';
  }
  .icon_spotify:before {
    content: '\ea5a';
  }
  .icon_swarm:before {
    content: '\ea5b';
  }
  .icon_vine_with_circle:before {
    content: '\ea5c';
  }
  .icon_vine:before {
    content: '\ea5d';
  }
  .icon_vk_alternitive:before {
    content: '\ea5e';
  }
  .icon_vk_with_circle:before {
    content: '\ea5f';
  }
  .icon_vk:before {
    content: '\ea60';
  }
  .icon_xing_with_circle:before {
    content: '\ea61';
  }
  .icon_xing:before {
    content: '\ea62';
  }
  .icon_yelp:before {
    content: '\ea63';
  }
  .icon_dribbble_with_circle:before {
    content: '\ea64';
  }
  .icon_dribbble:before {
    content: '\ea65';
  }
  .icon_facebook_with_circle:before {
    content: '\ea66';
  }
  .icon_facebook:before {
    content: '\ea67';
  }
  .icon_flickr_with_circle:before {
    content: '\ea68';
  }
  .icon_flickr:before {
    content: '\ea69';
  }
  .icon_github_with_circle:before {
    content: '\ea6a';
  }
  .icon_github:before {
    content: '\ea6b';
  }
  .icon_google_with_circle:before {
    content: '\ea6c';
  }
  .icon_google:before {
    content: '\ea6d';
  }
  .icon_instagram_with_circle:before {
    content: '\ea6e';
  }
  .icon_instagram:before {
    content: '\ea6f';
  }
  .icon_lastfm_with_circle:before {
    content: '\ea70';
  }
  .icon_lastfm:before {
    content: '\ea71';
  }
  .icon_linkedin_with_circle:before {
    content: '\ea72';
  }
  .icon_linkedin:before {
    content: '\ea73';
  }
  .icon_pinterest_with_circle:before {
    content: '\ea74';
  }
  .icon_pinterest:before {
    content: '\ea75';
  }
  .icon_rdio:before {
    content: '\ea76';
  }
  .icon_stumbleupon_with_circle:before {
    content: '\ea77';
  }
  .icon_stumbleupon:before {
    content: '\ea78';
  }
  .icon_tumblr_with_circle:before {
    content: '\ea79';
  }
  .icon_tumblr:before {
    content: '\ea7a';
  }
  .icon_twitter_with_circle:before {
    content: '\ea7b';
  }
  .icon_twitter:before {
    content: '\ea7c';
  }
  .icon_vimeo_with_circle:before {
    content: '\ea7d';
  }
  .icon_vimeo:before {
    content: '\ea7e';
  }
  .icon_youtube_with_circle:before {
    content: '\ea7f';
  }
  .icon_youtube:before {
    content: '\ea80';
  }
}
