@import '../../_Variables.scss';

.header {
  position: relative;
  width: 100%;
  height: 52px;
  border-bottom: solid 1px $color_gray;
  cursor: pointer;
}

.image {
  position: absolute;
  top: 4px;
  left: 4px;
  width: 44px;
  height: 44px;
  object-fit: contain;
}

.name {
  position: absolute;
  bottom: 4px;
  left: 56px;
  right: 48px;
  font-size: 20px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.year {
  position: absolute;
  bottom: 4px;
  right: 4px;
  font-size: 16px;
  color: $color_gray_darkness;
}

.list {
  user-select: none;
  cursor: pointer;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: scroll;
}

.item {
  width: 100%;
  margin-bottom: 1em;
}
