$color_white: #fff;
$color_black: #000;
$color_gray_lightness: #f8f8f8;
$color_gray_light: #ecf0f1;
$color_gray: #bdc3c7;
$color_gray_dark: #95a5a6;
$color_gray_darkness: #7f8c8d;
$color_indigo: #34495e;
$color_indigo_dark: #2c3e50;
$color_red: #e74c3c;
$color_red_dark: #e74c3c;
$color_blue_light: #9fd6fe;
$color_blue: #3498db;
$color_blue_dark: #2980b9;
$color_green: #2ecc71;
$color_green_dark: #27ae60;
$color_viridian: #1abc9c;
$color_viridian_dark: #16a085;
$color_yellow: #f1c40f;
$color_yellow_dark: #f39c12;
$color_orange: #e67e22;
$color_orange_dark: #d35400;
$color_purple: #9b59b6;
$color_purple_dark: #8e44ad;
$color_text: #2c3e50;

$size_player_height: 44px;
