@import '../../_Variables.scss';

$connector_size: 24px;

.connector {
  user-select: none;
  position: relative;
  width: $connector_size * 2;
}

.checkbox {
  display: none;
}

.label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  padding: 0;
  height: $connector_size;
  line-height: $connector_size;
  border: 2px solid #999999;
  border-radius: $connector_size;
  background-color: #eeeeee;
  transition: background-color 0.3s ease-in;
}

.label:before {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 22px;
  content: '';
  margin: 0;
  width: $connector_size;
  background: $color_white;
  border: 2px solid #999999;
  border-radius: $connector_size;
  transition: all 0.3s ease-in 0s;
}

.checkbox:checked + .label {
  background-color: $color_indigo_dark;
}

.checkbox:checked + .label,
.checkbox:checked + .label:before {
  border-color: $color_indigo_dark;
}

.checkbox:checked + .label:before {
  right: 0;
}
