$color_white: #fff;
$color_black: #000;
$color_gray_light: #ecf0f1;
$color_gray: #bdc3c7;
$color_gray_dark: #95a5a6;
$color_gray_darkness: #7f8c8d;
$color_indigo: #34495e;
$color_indigo_dark: #2c3e50;
$color_red: #e74c3c;
$color_red_dark: #e74c3c;
$color_blue: #3498db;
$color_blue_dark: #2980b9;
$color_green: #2ecc71;
$color_green_dark: #27ae60;
$color_viridian: #1abc9c;
$color_viridian_dark: #16a085;
$color_yellow: #f1c40f;
$color_yellow_dark: #f39c12;
$color_orange: #e67e22;
$color_orange_dark: #d35400;
$color_purple: #9b59b6;
$color_purple_dark: #8e44ad;
$color_text: $color_indigo_dark;

$icon_add_to_list: "\e900";
$icon_classic_computer: "\e901";
$icon_controller_fast_backward: "\e902";
$icon_creative_commons_attribution: "\e903";
$icon_creative_commons_noderivs: "\e904";
$icon_creative_commons_noncommercial_eu: "\e905";
$icon_creative_commons_noncommercial_us: "\e906";
$icon_creative_commons_public_domain: "\e907";
$icon_creative_commons_remix: "\e908";
$icon_creative_commons_share: "\e909";
$icon_creative_commons_sharealike: "\e90a";
$icon_creative_commons: "\e90b";
$icon_document_landscape: "\e90c";
$icon_remove_user: "\e90d";
$icon_warning: "\e90e";
$icon_arrow_bold_down: "\e90f";
$icon_arrow_bold_left: "\e910";
$icon_arrow_bold_right: "\e911";
$icon_arrow_bold_up: "\e912";
$icon_arrow_down: "\e913";
$icon_arrow_left: "\e914";
$icon_arrow_long_down: "\e915";
$icon_arrow_long_left: "\e916";
$icon_arrow_long_right: "\e917";
$icon_arrow_long_up: "\e918";
$icon_arrow_right: "\e919";
$icon_arrow_up: "\e91a";
$icon_arrow_with_circle_down: "\e91b";
$icon_arrow_with_circle_left: "\e91c";
$icon_arrow_with_circle_right: "\e91d";
$icon_arrow_with_circle_up: "\e91e";
$icon_bookmark: "\e91f";
$icon_bookmarks: "\e920";
$icon_chevron_down: "\e921";
$icon_chevron_left: "\e922";
$icon_chevron_right: "\e923";
$icon_chevron_small_down: "\e924";
$icon_chevron_small_left: "\e925";
$icon_chevron_small_right: "\e926";
$icon_chevron_small_up: "\e927";
$icon_chevron_thin_down: "\e928";
$icon_chevron_thin_left: "\e929";
$icon_chevron_thin_right: "\e92a";
$icon_chevron_thin_up: "\e92b";
$icon_chevron_up: "\e92c";
$icon_chevron_with_circle_down: "\e92d";
$icon_chevron_with_circle_left: "\e92e";
$icon_chevron_with_circle_right: "\e92f";
$icon_chevron_with_circle_up: "\e930";
$icon_cloud: "\e931";
$icon_controller_fast_forward: "\e932";
$icon_controller_jump_to_start: "\e933";
$icon_controller_next: "\e934";
$icon_controller_paus: "\e935";
$icon_controller_play: "\e936";
$icon_controller_record: "\e937";
$icon_controller_stop: "\e938";
$icon_controller_volume: "\e939";
$icon_dot_single: "\e93a";
$icon_dots_three_horizontal: "\e93b";
$icon_dots_three_vertical: "\e93c";
$icon_dots_two_horizontal: "\e93d";
$icon_dots_two_vertical: "\e93e";
$icon_download: "\e93f";
$icon_emoji_flirt: "\e940";
$icon_flow_branch: "\e941";
$icon_flow_cascade: "\e942";
$icon_flow_line: "\e943";
$icon_flow_parallel: "\e944";
$icon_flow_tree: "\e945";
$icon_install: "\e946";
$icon_layers: "\e947";
$icon_open_book: "\e948";
$icon_resize_100: "\e949";
$icon_resize_full_screen: "\e94a";
$icon_save: "\e94b";
$icon_select_arrows: "\e94c";
$icon_sound_mute: "\e94d";
$icon_sound: "\e94e";
$icon_trash: "\e94f";
$icon_triangle_down: "\e950";
$icon_triangle_left: "\e951";
$icon_triangle_right: "\e952";
$icon_triangle_up: "\e953";
$icon_uninstall: "\e954";
$icon_upload_to_cloud: "\e955";
$icon_upload: "\e956";
$icon_add_user: "\e957";
$icon_address: "\e958";
$icon_adjust: "\e959";
$icon_air: "\e95a";
$icon_aircraft_landing: "\e95b";
$icon_aircraft_take_off: "\e95c";
$icon_aircraft: "\e95d";
$icon_align_bottom: "\e95e";
$icon_align_horizontal_middle: "\e95f";
$icon_align_left: "\e960";
$icon_align_right: "\e961";
$icon_align_top: "\e962";
$icon_align_vertical_middle: "\e963";
$icon_archive: "\e964";
$icon_area_graph: "\e965";
$icon_attachment: "\e966";
$icon_awareness_ribbon: "\e967";
$icon_back_in_time: "\e968";
$icon_back: "\e969";
$icon_bar_graph: "\e96a";
$icon_battery: "\e96b";
$icon_beamed_note: "\e96c";
$icon_bell: "\e96d";
$icon_blackboard: "\e96e";
$icon_block: "\e96f";
$icon_book: "\e970";
$icon_bowl: "\e971";
$icon_box: "\e972";
$icon_briefcase: "\e973";
$icon_browser: "\e974";
$icon_brush: "\e975";
$icon_bucket: "\e976";
$icon_cake: "\e977";
$icon_calculator: "\e978";
$icon_calendar: "\e979";
$icon_camera: "\e97a";
$icon_ccw: "\e97b";
$icon_chat: "\e97c";
$icon_check: "\e97d";
$icon_circle_with_cross: "\e97e";
$icon_circle_with_minus: "\e97f";
$icon_circle_with_plus: "\e980";
$icon_circle: "\e981";
$icon_circular_graph: "\e982";
$icon_clapperboard: "\e983";
$icon_clipboard: "\e984";
$icon_clock: "\e985";
$icon_code: "\e986";
$icon_cog: "\e987";
$icon_colours: "\e988";
$icon_compass: "\e989";
$icon_copy: "\e98a";
$icon_credit_card: "\e98b";
$icon_credit: "\e98c";
$icon_cross: "\e98d";
$icon_cup: "\e98e";
$icon_cw: "\e98f";
$icon_cycle: "\e990";
$icon_database: "\e991";
$icon_dial_pad: "\e992";
$icon_direction: "\e993";
$icon_document: "\e994";
$icon_documents: "\e995";
$icon_drink: "\e996";
$icon_drive: "\e997";
$icon_drop: "\e998";
$icon_edit: "\e999";
$icon_email: "\e99a";
$icon_emoji_happy: "\e99b";
$icon_emoji_neutral: "\e99c";
$icon_emoji_sad: "\e99d";
$icon_erase: "\e99e";
$icon_eraser: "\e99f";
$icon_export: "\e9a0";
$icon_eye: "\e9a1";
$icon_feather: "\e9a2";
$icon_flag: "\e9a3";
$icon_flash: "\e9a4";
$icon_flashlight: "\e9a5";
$icon_flat_brush: "\e9a6";
$icon_folder_images: "\e9a7";
$icon_folder_music: "\e9a8";
$icon_folder_video: "\e9a9";
$icon_folder: "\e9aa";
$icon_forward: "\e9ab";
$icon_funnel: "\e9ac";
$icon_game_controller: "\e9ad";
$icon_gauge: "\e9ae";
$icon_globe: "\e9af";
$icon_graduation_cap: "\e9b0";
$icon_grid: "\e9b1";
$icon_hair_cross: "\e9b2";
$icon_hand: "\e9b3";
$icon_heart_outlined: "\e9b4";
$icon_heart: "\e9b5";
$icon_help_with_circle: "\e9b6";
$icon_help: "\e9b7";
$icon_home: "\e9b8";
$icon_hour_glass: "\e9b9";
$icon_image_inverted: "\e9ba";
$icon_image: "\e9bb";
$icon_images: "\e9bc";
$icon_inbox: "\e9bd";
$icon_infinity: "\e9be";
$icon_info_with_circle: "\e9bf";
$icon_info: "\e9c0";
$icon_key: "\e9c1";
$icon_keyboard: "\e9c2";
$icon_lab_flask: "\e9c3";
$icon_landline: "\e9c4";
$icon_language: "\e9c5";
$icon_laptop: "\e9c6";
$icon_leaf: "\e9c7";
$icon_level_down: "\e9c8";
$icon_level_up: "\e9c9";
$icon_lifebuoy: "\e9ca";
$icon_light_bulb: "\e9cb";
$icon_light_down: "\e9cc";
$icon_light_up: "\e9cd";
$icon_line_graph: "\e9ce";
$icon_link: "\e9cf";
$icon_list: "\e9d0";
$icon_location_pin: "\e9d1";
$icon_location: "\e9d2";
$icon_lock_open: "\e9d3";
$icon_lock: "\e9d4";
$icon_log_out: "\e9d5";
$icon_login: "\e9d6";
$icon_loop: "\e9d7";
$icon_magnet: "\e9d8";
$icon_magnifying_glass: "\e9d9";
$icon_mail: "\e9da";
$icon_man: "\e9db";
$icon_map: "\e9dc";
$icon_mask: "\e9dd";
$icon_medal: "\e9de";
$icon_megaphone: "\e9df";
$icon_menu: "\e9e0";
$icon_message: "\e9e1";
$icon_mic: "\e9e2";
$icon_minus: "\e9e3";
$icon_mobile: "\e9e4";
$icon_modern_mic: "\e9e5";
$icon_moon: "\e9e6";
$icon_mouse: "\e9e7";
$icon_music: "\e9e8";
$icon_network: "\e9e9";
$icon_new_message: "\e9ea";
$icon_new: "\e9eb";
$icon_news: "\e9ec";
$icon_note: "\e9ed";
$icon_notification: "\e9ee";
$icon_old_mobile: "\e9ef";
$icon_old_phone: "\e9f0";
$icon_palette: "\e9f1";
$icon_paper_plane: "\e9f2";
$icon_pencil: "\e9f3";
$icon_phone: "\e9f4";
$icon_pie_chart: "\e9f5";
$icon_pin: "\e9f6";
$icon_plus: "\e9f7";
$icon_popup: "\e9f8";
$icon_power_plug: "\e9f9";
$icon_price_ribbon: "\e9fa";
$icon_price_tag: "\e9fb";
$icon_print: "\e9fc";
$icon_progress_empty: "\e9fd";
$icon_progress_full: "\e9fe";
$icon_progress_one: "\e9ff";
$icon_progress_two: "\ea00";
$icon_publish: "\ea01";
$icon_quote: "\ea02";
$icon_radio: "\ea03";
$icon_reply_all: "\ea04";
$icon_reply: "\ea05";
$icon_retweet: "\ea06";
$icon_rocket: "\ea07";
$icon_round_brush: "\ea08";
$icon_rss: "\ea09";
$icon_ruler: "\ea0a";
$icon_scissors: "\ea0b";
$icon_share_alternitive: "\ea0c";
$icon_share: "\ea0d";
$icon_shareable: "\ea0e";
$icon_shield: "\ea0f";
$icon_shop: "\ea10";
$icon_shopping_bag: "\ea11";
$icon_shopping_basket: "\ea12";
$icon_shopping_cart: "\ea13";
$icon_shuffle: "\ea14";
$icon_signal: "\ea15";
$icon_sound_mix: "\ea16";
$icon_sports_club: "\ea17";
$icon_spreadsheet: "\ea18";
$icon_squared_cross: "\ea19";
$icon_squared_minus: "\ea1a";
$icon_squared_plus: "\ea1b";
$icon_star_outlined: "\ea1c";
$icon_star: "\ea1d";
$icon_stopwatch: "\ea1e";
$icon_suitcase: "\ea1f";
$icon_swap: "\ea20";
$icon_sweden: "\ea21";
$icon_switch: "\ea22";
$icon_tablet: "\ea23";
$icon_tag: "\ea24";
$icon_text_document_inverted: "\ea25";
$icon_text_document: "\ea26";
$icon_text: "\ea27";
$icon_thermometer: "\ea28";
$icon_thumbs_down: "\ea29";
$icon_thumbs_up: "\ea2a";
$icon_thunder_cloud: "\ea2b";
$icon_ticket: "\ea2c";
$icon_time_slot: "\ea2d";
$icon_tools: "\ea2e";
$icon_traffic_cone: "\ea2f";
$icon_tree: "\ea30";
$icon_trophy: "\ea31";
$icon_tv: "\ea32";
$icon_typing: "\ea33";
$icon_unread: "\ea34";
$icon_untag: "\ea35";
$icon_user: "\ea36";
$icon_users: "\ea37";
$icon_v_card: "\ea38";
$icon_video: "\ea39";
$icon_vinyl: "\ea3a";
$icon_voicemail: "\ea3b";
$icon_wallet: "\ea3c";
$icon_water: "\ea3d";
$icon_500px_with_circle: "\ea3e";
$icon_500px: "\ea3f";
$icon_basecamp: "\ea40";
$icon_behance: "\ea41";
$icon_creative_cloud: "\ea42";
$icon_dropbox: "\ea43";
$icon_evernote: "\ea44";
$icon_flattr: "\ea45";
$icon_foursquare: "\ea46";
$icon_google_drive: "\ea47";
$icon_google_hangouts: "\ea48";
$icon_grooveshark: "\ea49";
$icon_icloud: "\ea4a";
$icon_mixi: "\ea4b";
$icon_onedrive: "\ea4c";
$icon_paypal: "\ea4d";
$icon_picasa: "\ea4e";
$icon_qq: "\ea4f";
$icon_rdio_with_circle: "\ea50";
$icon_renren: "\ea51";
$icon_scribd: "\ea52";
$icon_sina_weibo: "\ea53";
$icon_skype_with_circle: "\ea54";
$icon_skype: "\ea55";
$icon_slideshare: "\ea56";
$icon_smashing: "\ea57";
$icon_soundcloud: "\ea58";
$icon_spotify_with_circle: "\ea59";
$icon_spotify: "\ea5a";
$icon_swarm: "\ea5b";
$icon_vine_with_circle: "\ea5c";
$icon_vine: "\ea5d";
$icon_vk_alternitive: "\ea5e";
$icon_vk_with_circle: "\ea5f";
$icon_vk: "\ea60";
$icon_xing_with_circle: "\ea61";
$icon_xing: "\ea62";
$icon_yelp: "\ea63";
$icon_dribbble_with_circle: "\ea64";
$icon_dribbble: "\ea65";
$icon_facebook_with_circle: "\ea66";
$icon_facebook: "\ea67";
$icon_flickr_with_circle: "\ea68";
$icon_flickr: "\ea69";
$icon_github_with_circle: "\ea6a";
$icon_github: "\ea6b";
$icon_google_with_circle: "\ea6c";
$icon_google: "\ea6d";
$icon_instagram_with_circle: "\ea6e";
$icon_instagram: "\ea6f";
$icon_lastfm_with_circle: "\ea70";
$icon_lastfm: "\ea71";
$icon_linkedin_with_circle: "\ea72";
$icon_linkedin: "\ea73";
$icon_pinterest_with_circle: "\ea74";
$icon_pinterest: "\ea75";
$icon_rdio: "\ea76";
$icon_stumbleupon_with_circle: "\ea77";
$icon_stumbleupon: "\ea78";
$icon_tumblr_with_circle: "\ea79";
$icon_tumblr: "\ea7a";
$icon_twitter_with_circle: "\ea7b";
$icon_twitter: "\ea7c";
$icon_vimeo_with_circle: "\ea7d";
$icon_vimeo: "\ea7e";
$icon_youtube_with_circle: "\ea7f";
$icon_youtube: "\ea80";
