@import "./AppVariables.scss";

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  color: $color_text;
  font-family: sans-serif;
}

:global {
  .app {
    width: 100%;
    height: 100%;
    background-color: $color_white;
  }
}

////////////////////////////////////////////////////////////////////////////////
// Icon font
////////////////////////////////////////////////////////////////////////////////

@font-face {
  font-family: "icon";
  src:url("fonts/icon.eot?lct42d");
  src:url("fonts/icon.eot?lct42d#iefix") format("embedded-opentype"), url("fonts/icon.ttf?lct42d") format("truetype"), url("fonts/icon.woff?lct42d") format("woff"), url("fonts/icon.svg?lct42d#icon") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: "icon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  // Better Font Rendering
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:global {
  .icon-rew:before {
    content: $icon_rew;
  }
  .icon-warning:before {
    content: $icon_warning;
  }
  .icon-ff:before {
    content: $icon_ff;
  }
  .icon-prev:before {
    content: $icon_prev;
  }
  .icon-next:before {
    content: $icon_next;
  }
  .icon-pause:before {
    content: $icon_pause;
  }
  .icon-play:before {
    content: $icon_play;
  }
  .icon-stop:before {
    content: $icon_stop;
  }
  .icon-mute:before {
    content: $icon_mute;
  }
  .icon-volume:before {
    content: $icon_volume;
  }
  .icon-cross:before {
    content: $icon_cross;
  }
  .icon-minus:before {
    content: $icon_minus;
  }
  .icon-plus:before {
    content: $icon_plus;
  }
  .icon-config:before {
    content: $icon_config;
  }
  .icon-help:before {
    content: $icon_help;
  }
  .icon-info:before {
    content: $icon_info;
  }
  .icon-github:before {
    content: $icon_github;
  }
  .icon-chevron_down:before {
    content: $icon_chevron_down;
  }
  .icon-chevron_left:before {
    content: $icon_chevron_left;
  }
  .icon-chevron_right:before {
    content: $icon_chevron_right;
  }
  .icon-chevron_up:before {
    content: $icon_chevron_up;
  }
}

////////////////////////////////////////////////////////////////////////////////
// react-split-pane
////////////////////////////////////////////////////////////////////////////////

:global {
  .Resizer {
    background: $color_black;
    opacity: .2;
    z-index: 1;
    box-sizing: border-box;
    background-clip: padding-box;
  }

  .Resizer:hover {
    transition: all 2s ease;
  }
  
  .Resizer.horizontal {
      height: 11px;
      margin: -5px 0;
      border-top: 5px solid rgba(255, 255, 255, 0);
      border-bottom: 5px solid rgba(255, 255, 255, 0);
      cursor: row-resize;
      width: 100%;
  }

  .Resizer.horizontal:hover {
    border-top: 5px solid rgba(0, 0, 0, 0.5);
    border-bottom: 5px solid rgba(0, 0, 0, 0.5);
  }
    

  .Resizer.vertical {
      width: 11px;
      margin: 0 -5px;
      border-left: 5px solid rgba(255, 255, 255, 0);
      border-right: 5px solid rgba(255, 255, 255, 0);
      cursor: col-resize;
      height: 100%;
  }

  .Resizer.vertical:hover {
    border-left: 5px solid rgba(0, 0, 0, 0.5);
    border-right: 5px solid rgba(0, 0, 0, 0.5);
  }
}