////////////////////////////////////////////////////////////////////////////////
// Color
////////////////////////////////////////////////////////////////////////////////

$color_white: #fff;
$color_black: #000;
$color_gray_lightness: #f8f8f8;
$color_gray_light: #ecf0f1;
$color_gray: #bdc3c7;
$color_gray_dark: #95a5a6;
$color_gray_darkness: #7f8c8d;
$color_indigo: #34495e;
$color_indigo_dark: #2c3e50;
$color_red: #e74c3c;
$color_red_dark: #e74c3c;
$color_blue_light: #9fd6fe;
$color_blue: #3498db;
$color_blue_dark: #2980b9;
$color_green: #2ecc71;
$color_green_dark: #27ae60;
$color_viridian: #1abc9c;
$color_viridian_dark: #16a085;
$color_yellow: #f1c40f;
$color_yellow_dark: #f39c12;
$color_orange: #e67e22;
$color_orange_dark: #d35400;
$color_purple: #9b59b6;
$color_purple_dark: #8e44ad;
$color_text: #2c3e50;

////////////////////////////////////////////////////////////////////////////////
// Size
////////////////////////////////////////////////////////////////////////////////

$size_player_height: 44px;

////////////////////////////////////////////////////////////////////////////////
// Icon
////////////////////////////////////////////////////////////////////////////////

$icon_rew: "\e800";
$icon_warning: "\e801";
$icon_ff: "\e802";
$icon_prev: "\e803";
$icon_next: "\e804";
$icon_pause: "\e805";
$icon_play: "\e806";
$icon_stop: "\e807";
$icon_mute: "\e808";
$icon_volume: "\e809";
$icon_cross: "\e80a";
$icon_minus: "\e80b";
$icon_plus: "\e80c";
$icon_config: "\e80d";
$icon_help: "\e80e";
$icon_info: "\e80f";
$icon_github: "\e810";
$icon_chevron_down: "\e900";
$icon_chevron_left: "\e901";
$icon_chevron_right: "\e902";
$icon_chevron_up: "\e903";

////////////////////////////////////////////////////////////////////////////////
// Mix-In
////////////////////////////////////////////////////////////////////////////////

@mixin unselectable() {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
}

@mixin appearance_none() {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

@mixin icon_style() {
  font-family: "icon";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  // Better Font Rendering
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
