@import "../../AppVariables.scss";

.page {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.content {
  position: absolute;
  top: $size_player_height;
  bottom: 0;
  width: 100%;
}
