@import '../_Variables.scss';

.container {
  margin-top: 1em;
  border: solid 1px $color_gray_dark;
}

.container input[type='text'] {
  font-size: 1em;
  font-family: sans-serif;
  padding: 0.3em;
}

.button {
  @include button($color_green, $color_white);
}
