@import "common/Color.styl"
@import "common/Size.styl"
@import "common/MixIn.styl"

.audio-player__container__info__container {
  position relative
  width size_full
  height size_full
  border-left solid 1px color_gray
  border-right solid 1px color_gray
  background-color color_gray_lightness

  &__image {
    position absolute
    left 0
    top 0
    width size_player_height
    height size_player_height
    object-fit contain
    background-color color_black
  }

  &__info {
    cursor pointer
  }

  &__spectrum-analyzer {
    cursor pointer
    position absolute
    top 4px
    left size_player_height + 4px
    right 4px
    bottom 12px

    canvas {
      width size_full
      height size_full
    }
  }

  &__title {
    position absolute
    text-align center
    top 1px
    left size_player_height
    right 0
    font-size 15px
    box-sizing border-box
    padding 0 4px
    overflow hidden
    white-space nowrap
    text-overflow ellipsis
  }

  &__artist-album {
    position absolute
    text-align center
    top 18px
    left size_player_height + 34px
    right 34px
    font-size 12px
    color color_gray_dark
    box-sizing border-box
    overflow hidden
    white-space nowrap
    text-overflow ellipsis
  }

  &__time {
    position absolute
    top 19px
    font-size 12px
    color color_gray_dark

    &.playbacktime {
      left size_player_height + 4px
    }

    &.duration {
      right 4px
    }
  }

  &__slider {
    position absolute
    left size_player_height
    right 0
    bottom 0
    margin 0
    padding 0
    height 16px

    input[type="range"] {
      -webkit-appearance none
      margin 0
      padding 0
      width size_full
      height 16px
      background-color transparent
      cursor pointer

      &:focus {
        outline none
      }

      &::-webkit-slider-thumb {
        -webkit-appearance none
        margin-top -8px
        width 4px
        height 11px
        background-color color_indigo_dark
      }

      &::-webkit-slider-runnable-track {
        margin-top 13px
        height 2px
        background-color color_gray
      }
    }
  }
}
