@import "common/Color.styl"
@import "common/Size.styl"
@import "common/MixIn.styl"

.audio-player {
  position absolute
  top 0
  width size_full
  height size_player_height
  border-bottom solid 1px color_gray
  background-color color_gray_light
  -webkit-user-select none
  user-select node
  box-shadow 0px 2px 3px -3px rgba( 0, 0, 0, 0.6 )

  &__container {
    position relative
    width size_full
    height size_full

    &__player {
      position absolute
      top 0
      left 0
      width 256px
      height size_full
    }

    &__info {
      position absolute
      top 0
      left 256px
      right 256px
      height size_full
    }

    &__toolbar {
      position absolute
      top 0
      right 0
      width 256px
      height size_full

      &__container {
        position relative
        width size_full
        height size_full
      }
    }
  }
}
