@import "common/Color.styl"
@import "common/Size.styl"
@import "common/MixIn.styl"

.audio-player__container__control__container {
  position relative
  width size_full
  height size_full

  &__button {
    position absolute
    display inline-block
    cursor pointer

    &.prev {
      font-size 28px
      left 4px
      top 10px
    }

    &.play {
      font-size 36px
      left 40px
      top 5px
    }

    &.next {
      font-size 28px
      left 80px
      top 10px
    }
  }

  &__slider {
    position absolute
    left 130px
    top 8px
    -webkit-appearance none
    width 100px
    height 24px
    margin 0
    padding 0
    background-color transparent
    cursor pointer

    &:focus {
      outline none
    }

    &::-webkit-slider-thumb {
      -webkit-appearance none
      margin-top -5px
      width 14px
      height 14px
      border-radius 50%
      border solid 1px color_gray
      background-color color_white
      box-shadow 0 1px 1px rgba( 0, 0, 0, 0.4 )
    }

    &::-webkit-slider-runnable-track {
      margin-top 6px
      height 3px
      background-color color_gray
    }
  }
}
