
@import "common/Color.styl"
@import "common/Size.styl"
@import "common/MixIn.styl"

html, body {
  margin 0
  padding 0
  width size_full
  height size_full
  color color_text
  font-family sans-serif
}

.app {
  width size_full
  height size_full
  background-color color_white
}

.sample {
  text-align center

  &__button {
    unselectable()
    cursor pointer
    display inline-block
    margin 1em
    padding .3em .5em
    border-radius .2em
    border solid 1px color_blue
    color color_white
    background-color color_blue
  }
}