@import "common/Color.styl"
@import "common/Size.styl"
@import "common/MixIn.styl"

html, body {
  margin 0
  padding 0
  width size_full
  height size_full
  color color_text
  font-family sans-serif
}

.app {
  width size_full
  height size_full
  background-color color_white
}

.page {
  width size_full
  height size_full
  position relative
  overflow hidden
}

.content {
  position absolute
  top size_player_height
  bottom 0
  width size_full
}