@import "common/Color.styl"
@import "common/Size.styl"
@import "common/MixIn.styl"

body, html {
  overflow hidden
}

.effect-graphic-equalizer {
  width size_full
  height size_full
  background-color color_white

  &__header {
    position relative
    height 32px

    &__presets {
      position absolute
      left 8px
      top 8px
      width 128px
    }

    &__connect {
      position absolute
      right 8px
      top 8px
      width 48px
    }
  }

  &__gain {
    position relative
    width size_full
    height 300px

    &__step-line {
      position absolute
      left 40px
      right 0
      border-top solid 1px color_gray_light

      &.highlight {
        border-top solid 1px color_gray
      }
    }

    &__step-text {
      unselectable()
      position absolute
      left 0
      width 38px
      text-align right
      font-size 11px
      cursor default
    }

    &__slider {
      position absolute
      top 110px
      width 200px
      background-color transparent

      cursor pointer
      transform rotate( 270deg )

      -webkit-appearance none

      &:focus {
        outline none
      }

      &::-webkit-slider-thumb {
        -webkit-appearance none
        margin-top -9px
        width 10px
        height 20px
        background-color color_indigo_dark
      }

      &::-webkit-slider-runnable-track {
        margin-top 6px
        height 3px
        background-color color_gray_darkness
      }

    }

    &__frequecy {
      unselectable()
      position absolute
      top 225px
      font-size 11px
      cursor default
    }
  }
}
