@font-face {
  font-family "icon"
  src:url("fonts/icon.eot?lct42d")
  src:url("fonts/icon.eot?lct42d#iefix") format("embedded-opentype"),
    url("fonts/icon.ttf?lct42d") format("truetype"),
    url("fonts/icon.woff?lct42d") format("woff"),
    url("fonts/icon.svg?lct42d#icon") format("svg")
  font-weight normal
  font-style normal
}

icon_style() {
  font-family "icon"
  speak none
  font-style normal
  font-weight normal
  font-variant normal
  text-transform none
  line-height 1

  // Better Font Rendering
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
}

[class^="icon-"], [class*=" icon-"] {
  icon_style()
}

icon_rew = "\e800"
icon_warning = "\e801"
icon_ff = "\e802"
icon_prev = "\e803"
icon_next = "\e804"
icon_pause = "\e805"
icon_play = "\e806"
icon_stop = "\e807"
icon_mute = "\e808"
icon_volume = "\e809"
icon_cross = "\e80a"
icon_minus = "\e80b"
icon_plus = "\e80c"
icon_config = "\e80d"
icon_help = "\e80e"
icon_info = "\e80f"
icon_github = "\e810"

.icon-rew:before {
  content icon_rew
}
.icon-warning:before {
  content icon_warning
}
.icon-ff:before {
  content icon_ff
}
.icon-prev:before {
  content icon_prev
}
.icon-next:before {
  content icon_next
}
.icon-pause:before {
  content icon_pause
}
.icon-play:before {
  content icon_play
}
.icon-stop:before {
  content icon_stop
}
.icon-mute:before {
  content icon_mute
}
.icon-volume:before {
  content icon_volume
}
.icon-cross:before {
  content icon_cross
}
.icon-minus:before {
  content icon_minus
}
.icon-plus:before {
  content icon_plus
}
.icon-config:before {
  content icon_config
}
.icon-help:before {
  content icon_help
}
.icon-info:before {
  content icon_info
}
.icon-github:before {
  content icon_github
}
