@import "../../AppVariables.scss";

.selectbox {
  position: relative;
  height: 28px;
  background-color: $color_indigo_dark;
  border: solid 1px $color_indigo_dark;
  border-radius: 2px;
}

.dropdown {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.dropdown:after {
  @include icon_style();
  position: absolute;
  box-sizing: border-box;
  padding-top: 8px;
  padding-left: 4px;
  right: 4px;
  height: 100%;
  content: $icon_chevron_down;
  color: $color_white;
  font-size: 14px;
}


.select {
  @include unselectable();
  @include appearance_none();
  z-index: 1;
  position: absolute;
  width: 100%;
  padding: .3em 24px .3em .5em;
  outline: none;
  border: none;
  background-color: $color_indigo_dark;
  font-family: sans-serif;
  font-size: 14px;
  color: $color_white;
  cursor: pointer;
}
