@import "../../AppVariables.scss";

$switch_size: 24px;

.switch {
  user-select: none;
  position: relative;
  width: $switch_size * 2;
}

.checkbox {
  display: none;
}

.label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  padding: 0;
  height: $switch_size;
  line-height: $switch_size;
  border: 2px solid #999999;
  border-radius: $switch_size;
  background-color: #EEEEEE;
  transition: background-color 0.3s ease-in;
}

.label:before {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 22px;
  content: "";
  margin: 0;
  width: $switch_size;
  background: $color_white;
  border: 2px solid #999999;
  border-radius: $switch_size;
  transition: all 0.3s ease-in 0s;
}

.checkbox:checked + .label {
  background-color: $color_indigo_dark;
}

.checkbox:checked + .label, .checkbox:checked + .label:before {
   border-color: $color_indigo_dark;
}

.checkbox:checked + .label:before {
  right: 0;
}
