
@import "common/Color.styl"
@import "common/Size.styl"

html, body {
  margin 0
  padding 0
  width size_full
  height size_full
}

.app {
  width size_full
  height size_full
  background-color color_white
}
